#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container-date-weather {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-lists {
    display: flex;
    justify-content: center;
}

input {
    border: none;
    border-bottom: 1px solid black;
    height: 2em;
    background-color: transparent;
    font-size: larger;
}

.dateView {
    margin-right: 3em;
}

.dateList {
    margin: 1em;
}

.todoList {
    margin: 1em;
}
